/* GLOBAL STYLES
-------------------------------------------------- */

#grad1 {
  height: 1200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(red, yellow);
}

/* Padding below the footer and lighter body text */

html,body {
  font-size: 18px;
  padding-bottom: 1rem;
  color: #dcdfe3;
  background-color: red; /*------------------------------------------------------------------------Escoger los colores del gradiente*/
  background: linear-gradient(rgba(205,56,76,1),rgba(91,60,85,1));
}
body {
  padding-bottom: 1rem;
  color: #dcdfe3;
}




/* CUSTOMIZE THE HEADER
-------------------------------------------------- */

img.img-header {
  max-height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing {
  margin-top: 1rem;
}

.marketing h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;

}

.media-item {
  margin: 1rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* Footer
------------------------- */

.footer-divider {
  margin: 5rem 0 2rem 0; /* Space out the Bootstrap <hr> more */
}

footer p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* FONTS
-------------------------------------------------------------*/

.rufina-regular {
  font-family: "Rufina", serif;
  font-weight: 400;
  font-style: normal;
}

.rufina-bold {
  font-family: "Rufina", serif;
  font-weight: 700;
  font-style: normal;
}

p{
  font-family: "Rufina", serif;
  font-weight: 400;
  font-style: normal;
}

h2,h3,h4{
  font-family: "Rufina", serif;
  font-weight: 700;
  font-style: normal;
}
